.todo-item {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 12px;
}

.todo-item p {
  flex-grow: 1;
  margin-left: 10px;
}

.todo-item input[type='text'] {
  flex-grow: 1;
  margin-left: 10px;
  padding: 6px;
}

.todo-item button {
  margin-left: 8px;
  background-color: #ff0b37;
  color: white;
  border: none;
  padding: 6px 10px;
  cursor: pointer;
}
